@using System.Collections.ObjectModel

@model PryMuniIntegrado.WEB.Models.DetallePecosa

@{
    ViewBag.Title = "Informe Tecnico";
}

<style type="text/css">

</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("GrabaPecosa", "Pecosa", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table style="width: 100%; margin-bottom: 30px">
            <tr>
                <td>@Html.DisplayNameFor(model => model.Pecosa.CodInforme)</td>
                <td contenteditable="true"><b>@Html.EditorFor(model => model.Pecosa.CodInforme)</b></td>
                <td>@Html.DisplayNameFor(model => model.Pecosa.Codigo)</td>
                <td>@Html.EditorFor(model => model.Pecosa.Codigo)</td> 
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Grabar Pecosa" class="btn btn-default" />
                        </div>
                    </div>
                </td>               
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Pecosa.Estado)</td>
                <td>@Html.DropDownListFor(model => model.Pecosa.Estado, new
                    SelectList(Enum.GetValues(typeof(PryMuniIntegrado.ET.EEstado))),
                    new { id = "cboEstado", style = "width: 137px;" })</td>
                <td>@Html.DisplayNameFor(model => model.Pecosa.Resolucion)</td>
                <td>@Html.EditorFor(model => model.Pecosa.Resolucion)</td>
            </tr>
        </table>
    </div>
}

<h3><ins>Detalle de Activos</ins></h3>

<div id="paginador">
    @Html.Partial("~/Views/Pecosa/_ListaActivo.cshtml", Model.Activos)
</div>
<div>
    <h4><b>@Html.ActionLink("<<Atras", "Index")</b></h4>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}