@using System.Collections.ObjectModel

@model PryMuniIntegrado.WEB.Models.ModeloPecosa

@{
    ViewBag.Title = "Pecosa";
}

<h2>@ViewBag.Title</h2>

<div>
    <div>
        @using (Html.BeginForm("ListaPecosaPorCodigo", "Pecosa", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table style="border-collapse: separate; border-spacing: 3px">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CodigoInforme)</td>
                    <td>
                        @Html.DropDownList("codigo", new
                        SelectList(from i in Model.ListaPecosa select i.CodInforme),
                        new { id = "cboInforme", style = "width: 137px;" })
                    </td>
                    <td>
                        <div>
                            <div>
                                <input type="submit" value="Buscar" class="btn btn-default" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            @ViewBag.Error
        }
    </div>
    <div>
        @using (Html.BeginForm("ListaPecosaPorCodigo", "Pecosa", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table style="border-collapse: separate; border-spacing: 3px; margin-bottom: 20px">
                <tr>
                    <td style="width:110px">@Html.DisplayNameFor(model => model.CodigoPecosa)</td>
                    <td>
                        @Html.DropDownList("codigo", new
                SelectList(from i in Model.ListaPecosa select i.Codigo),
                new { id = "cboPecosa", style = "width: 137px;" })
                    </td>
                    <td>
                        <div>
                            <div>
                                <input type="submit" value="Buscar" class="btn btn-default" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            @ViewBag.Error
        }
    </div>
    <div id="paginador">
        @Html.Partial("~/Views/Pecosa/_ListaPecosa.cshtml", Model.ListaPecosaFiltrada)
    </div>
</div>