@{
    
    @model GSM.Models.GSM.InformeInspeccion
    ViewBag.Title = "Informe de Inspeccion";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section ScriptsSection {

    <script>
        $(document).ready(function () {
            $('#jqDialogCargando').remove();
            $('#jqDialogCargando').remove();
        });
    </script>
    <script src="@Url.Content("~/Scripts/GSM/InformeInspeccion/InfoInspeccion.js")"></script>
}

<h2>@((Model.nuevo) ? "Registrar" : "Actualizar")  Informe de Inspección de servicio</h2>

<div class="form-inline" id="idContenedor">
    <input type="hidden" id="hidId" value="@Model.IdInforme" />
    <input type="hidden" id="hidInspeccion" value="@(Model.IdInspeccion)" />
    <input type="hidden" id="hidServicio" value="@(Model.oServicio.IdServicio)" />
    <input type="hidden" id="hidTypeButton" value="0" />
    <hr />

    <div class="row show-grid" style="margin-top: 10px;">
        <div class="col-md-10">
            <div class="col-xs-6 col-sm-3">
                <label>Código de Inspección:</label>
            </div>
            <div class="col-xs-6 col-sm-3">
                <input id="txtidInspeccion" value="@((Model.IdInspeccion==0)?"":Model.IdInspeccion.ToString())" style="width: 100%" disabled />
            </div>
            <span class="spRojo">*</span>
            @if (Model.IdInforme <= 0)
            {
                <div class="col-xs-6 col-sm-3">
                    <a href="#" onclick="fn_CargaBusquedaInspec(event);">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            }
            else { }

        </div>
    </div>

    <div class="row show-grid" style="margin-top: 10px;">
        <div class="col-md-10">
            <div class="col-xs-6 col-sm-3">
                <label>Código de Servicio:</label>
            </div>
            <div class="col-xs-6 col-sm-3">
                <input id="txtCodServ" value="@((Model.oServicio.IdServicio == 0) ? "" : Model.oServicio.IdServicio.ToString())" class="form-control" style="width: 100%" disabled />

            </div>
            @* @if (Model.IdInforme <= 0)
            {
                <div class="col-xs-6 col-sm-3">
                    <a href="#" onclick="fn_CargaBusquedaServicio(event);">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            }
            else { }*@
        </div>
    </div>


    <div class="row show-grid" style="margin-top: 10px;">
        <div class="col-md-10">
            <div class="col-xs-6 col-sm-3">
                <label>Nombre de Servicio</label><br>
            </div>
            <div class="col-xs-6 col-sm-5">
                <input id="txtNomServ" value="@(Model.oServicio.Nombre)" class="form-control" style="width: 100%" disabled />
            </div>
            <span class="spRojo">*</span>
        </div>

    </div>

    <div class="row show-grid" style="margin-top: 10px;">
        <div class="col-md-10">
            <div class="col-xs-6 col-sm-3">
                <label>Tipo de Servicio</label><br>
            </div>
            <div class="col-xs-6 col-sm-3">
                <input id="txtTipServ" value="@Model.oServicio.TipoServicio" class="form-control" style="width: 100%" disabled />
            </div>
        </div>
    </div>

    <div class="row show-grid" style="margin-top: 10px;">
        <div class="col-md-10">
            <div class="col-xs-6 col-sm-3">
                <label>Descripcción </label>
                <br>
            </div>
            <div class="col-xs-6 col-sm-5">
                <textarea id="txtContenido" cols="50" rows="5">@Model.descripcion</textarea>
            </div>
            <span class="spRojo">*</span>
        </div>
    </div>
    <div class="row show-grid" style="margin-top: 10px;">
        <div class="col-md-10">
            <div class="col-xs-6 col-sm-3">
                <label>Fecha de Informe </label>
                <br>
            </div>
            <div class="col-xs-6 col-sm-3">
                <input id="txtFecha" value="@Model.Fecha" class="form-control" style="width: 100%"   />
            </div>
            <span class="spRojo">*</span>
        </div>
    </div>


    <div class="row show-grid" style="margin-top: 10px;">
        @if (Model.IdInforme <= 0)
        { 
            <div class='modal-footer'>
                <button type="button" class="btn btn-primary" id="btnGuardar" onclick="fnGuardarServicio();">
                    <span class="glyphicon glyphicon-saved"></span>&nbsp; &nbsp;Guardar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="fnRetroceder()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp; &nbsp;Volver
                </button>
            </div>
        }
        else
        {
            <div class='modal-footer'>
                <button type="button" class="btn btn-primary" id="btnActualizar" onclick="fnActualizarServicio();">
                    <span class="glyphicon glyphicon-saved"></span>&nbsp; &nbsp;Actualizar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="fnCancelar()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp; &nbsp;Cancelar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="fnRetroceder()">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp; &nbsp;Volver
                </button>
            </div>
        }
    </div>
</div>

<!--    -----------------------------------------------------------------------------  -->

@*<div class="modal fade" id="ModalServicio" role="dialog" aria-labelledby="headerSSTServicio" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="width: auto;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="max-width: 650px; width: 100%;">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title" id="titleServicio" style="color: #000000;">Busqueda de Servicio</h4>
            </div>
            <div class="modal-body">
                <div id="divServicioSD" style="height: auto!important;">
                    <div class="row show-grid" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-3">
                                <label>Código Servicio</label><br>
                            </div>
                            <div class="col-md-2 col-xs-3 ">
                                <input id="txtSearchCod" class="form-control" style="width: 100%" />
                            </div>
                        </div> 
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-3">
                                <label>Nombre Servicio</label><br>
                            </div>
                            <div class="col-md-5 col-xs-3 ">
                                <input id="txtSearchNom" class="form-control" style="width: 100%" />
                            </div>
                        </div>
                    </div>

                    <div class="row show-grid" style="margin-top: 10px;">
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-3">
                                <label>Tipo Servicio</label><br>
                            </div>
                            <div class="col-md-2 col-xs-3 ">
                                <select id="cboSearch" class="form-control input-sm">
                                    <option value="0">Seleccione</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-xs-3" style="text-align: right">
                                <button type="button" class="btn btn-primary" onclick="fn_BuscarServicio();">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp; &nbsp;Buscar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div id="gridServicio" style="margin-left: 30px; margin-right: 12px; width: 600px;"></div>
                    </div>
                    <!--------------------------------------------------------------------------------->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp; &nbsp;Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
*@


<div class="modal fade" id="ModalInspeccion" role="dialog" aria-labelledby="headerSSTServicio" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="width: auto;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="max-width: 650px; width: 100%;">
            <div class="modal-header modal-header-primary">
                <h4 class="modal-title" id="titleInspeccion" style="color: #000000;">Busqueda de Inspección</h4>
            </div>
            <div class="modal-body">
                <div id="divInspeccionSD" style="height: auto!important;">
                    <!--------------------------------------------------------------------------------->
                    <div class="row show-grid">
                        <div class="col-md-10">
                            <div class="col-xs-6 col-sm-3">
                                <label>Fecha de Inicio</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <input class="form-control" type="text" id="txtFecProg" value="" />
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="col-xs-6 col-sm-3">
                                <label>Fecha de Fin</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <input class="form-control" type="text" id="txtFecProgf" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row show-grid">
                        <div class="col-md-10">
                            <div class="col-xs-6 col-sm-3">
                                <label>Tipo de Servicio</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <select id="cboTipoServicio" class="form-control input-sm">
                                    <option value="0">[Seleccione]</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="col-xs-6 col-sm-3">
                            </div>
                            <div class="col-xs-6 col-sm-3">
                            </div>
                        </div>
                    </div>

                    <div class="row show-grid">
                        <div class="col-md-10">
                            <div class="col-xs-6 col-sm-3">
                            </div>
                            <div class="col-xs-6 col-sm-3">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="col-xs-6 col-sm-3" style="float: right">
                                <button type="button" class="btn btn-primary" onclick="fn_BuscarInspec();">
                                    <span class="glyphicon glyphicon-search"></span>&nbsp; &nbsp;Buscar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px;">
                        <div id="gridInspeccion" style="margin-left: 30px; margin-right: 12px; width: 600px;"></div>
                    </div>

                    <!--------------------------------------------------------------------------------->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp; &nbsp;Cerrar
                </button>
            </div>
        </div>
    </div>
</div>



